
<script src="http://kit.fontawesome.com/b99e675b6e.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="body1">
<div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="top_menu">
      <div class="logo"><img src="assets\images\company_logo.png" height="60px" width="350"></div>
      <ul>
        <li><a href="#"><div class="self">SNEHA SHETTY<i class="fa fa-user-circle fa-3x" aria-hidden="true"></i></div></a></li>
      </ul>
    </div>
  </div>
 <div class="user-list"> <router-outlet></router-outlet></div>
 
  <div class="sidebar">
    <ul>
      <li><a href="#">
        <span class="icon"></span>
        <i class="fa fa-search fa-fw" aria-hidden="true"></i>
        <span class="title">Search</span>
      </a></li>
      <li><a href="#">
        <span class="icon"></span>
        <i class="fa fa-home fa-fw" aria-hidden="true"></i>
        <span class="title">Home</span>
      </a></li>
      <li><a href="#">
        <span class="icon"></span>
        <i class="fa fa-area-chart fa-fw" aria-hidden="true"></i>
        <span class="title">Progress</span>
      </a></li>
      <li><a href="#" class="active">
        <span class="icon"></span>
        <i class="fa fa-users fa-fw" aria-hidden="true"></i>
        <span class="title">Users</span>
      </a></li>
      <li><a href="#"><span class="icon"></span>
        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
        <span class="title">Setting</span></a></li>
    </ul>
  </div>
</div>
</div>
